html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

body {
    font-family: roboto, sans-serif;
    background: transparent;
    user-select: none;
    cursor: default;
}

.gameContainer {
    width: 100%;
    height: 100%;
}

.boardContainer {
    height: 600px;
    width: 100%;
    font-size: 64px;
    background-color: #222222;
    color: white;
}

.enemyContainer {
    position: absolute;
    top: 250px;
    left: 50%;
}