@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #444;
}

body {
    font-family: "Press Start 2P", serif;
    background: transparent;
    user-select: none;
    cursor: default;
}

.gameContainer {
    width: 100%;
    height: 100%;
}

.boardContainer {
    width: 90%;
    height: 50%;
    padding: 0 5%;
    font-size: 5vw;
    background-color: #222;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.boardContainer > div {
    width: 100%;
}

.scoreContainer {
    width: 100%;
    height: 50%;
    font-size: 4vw;
    color: #222;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreContainer ul {
    margin: 0;
    list-style: none;
}

.scoreContainer ul li {
    text-decoration: none;
    margin-bottom: 25px;
}

.resetButton {
    background-color: #222;
    border: 1px solid #222;
    display: inline-block;
    cursor: pointer;
    color: #EEE;
    font-family: "Press Start 2P", serif;
    font-size: 4vw;
    padding: 12px 24px;
    text-decoration: none;
}
.resetButton:hover {
    background-color: #EEE;
    border: 1px solid #EEE;
    color: #222;
}
.resetButton:active {
    position:relative;
    top:1px;
}

.start {
    font-size: 4vw;
}
